{% extends "users/base.html" %}

{% load static %}
{% load legacy %}

{% block subtitle %}Login{% endblock subtitle %}

{% block styles %}
  {% if request.META.HTTP_USER_AGENT|is_legacy %}
    <link rel="stylesheet" href="{% static 'css/legacy/users/main.css' %}">
  {% else %}
    <link rel="stylesheet" href="{% static 'css/modern/users/main.css' %}">
  {% endif %}
{% endblock styles %}

{% block content %}
  <main class="content">
    <div class="card-user">
      <img
        class="card-user__img"
        src="{% static 'images/logos/power-systems-dark.png' %}"
      />

      <form class="card-user__form" method="POST">
        {% csrf_token %}
        {% include 'utils/form_errors.html' with form=form %}

        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}

        <input class="button" type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </div>
  </main>
{% endblock content %}
