{% extends "users/base.html" %}

{% load static %}
{% load legacy %}

{% block subtitle %}Login{% endblock subtitle %}

{% block styles %}
  {% comment %} {% if request.META.HTTP_USER_AGENT|is_legacy %} {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/legacy/users/login.css' %}">
  {% comment %} {% else %}
    <link rel="stylesheet" href="{% static 'css/modern/users/login.css' %}">
  {% endif %} {% endcomment %}
{% endblock styles %}

{% block content %}
  <main class="content">
    <div class="card-user">
      <img
        src="{% static 'images/power-systems-b.png' %}"
        class="card-user__img"
      />

      <form class="login-form" method="POST">
        {% csrf_token %}
        {% include 'form_errors.html' with form=form %}

        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}

        <input class="button" type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </div>
  </main>
{% endblock content %}
