{% extends "users/base.html" %}
{% load static %}

{% block subtitle %}Login{% endblock subtitle %}

{% block form %}
  <div class="form__input">
    {{ form.username.label_tag }}
    {{ form.username }}
  </div>
  <div class="form__input">
    {{ form.password.label_tag }}
    {{ form.password }}
  </div>

  <button class="form__button" type="submit" value="Login">
    Login <i class="fas fa-sign-in-alt"></i>
  </button>

  <input type="hidden" name="next" value="{{ next }}">
{% endblock form %}
