{% extends "users/base.html" %}
{% load static %}

{% block subtitle %}Update{% endblock subtitle %}

{% block form %}
  <div class="form__input form--left">
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
  </div>
  <div class="form__input form--right">
    {{ form.last_name.label_tag }}
    {{ form.last_name }}
  </div>
  <div class="form__input form--left">
    {{ form.email.label_tag }}
    {{ form.email }}
  </div>
  <div class="form__input form--right">
    {{ form.shift.label_tag }}
    {{ form.shift }}
  </div>

  <button class="button form--left" type="submit" value="Guardar">
    Guardar
    <i class="fas fa-save"></i>
  </button>

  <a
    class="button form--right button--secondary button--fixed"
    href="{% url 'users:password_change' %}"
  >
    Contraseña <i class="fas fa-unlock-alt"></i>
  </a>

{% endblock form %}
