{% extends "users/base.html" %}

{% load static %}
{% load types %}

{% block subtitle %}Update{% endblock subtitle %}

{% block form %}

  {% to_list "email" as full_size %}
  {% include 'utils/forms/form_fields.html' with form=form %}

  <button class="button form--left" type="submit" value="Save">
    Save
    <i class="fas fa-save"></i>
  </button>

  <a
    class="button form--right button--secondary button--fixed"
    href="{% url 'users:password_change' %}"
  >
    Password <i class="fas fa-unlock-alt"></i>
  </a>

{% endblock form %}
