{% extends "users/base.html" %}
{% load static %}

{% block subtitle %}Update{% endblock subtitle %}

{% block form %}

  {% for field in form %}
    <div class="form__input
      {% cycle 'form--left' 'form--right' %}
      {{ field.field.required|yesno:'form--required,form--non-required' }}"
    >
      {% include "utils/forms/field_basic.html" with field=field %}
    </div>
  {% endfor %}

  <button class="button form--left" type="submit" value="Guardar">
    Guardar
    <i class="fas fa-save"></i>
  </button>

  <a
    class="button form--right button--secondary button--fixed"
    href="{% url 'users:password_change' %}"
  >
    Contraseña <i class="fas fa-unlock-alt"></i>
  </a>

{% endblock form %}
