* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-size: 62.5%; */
  font-family: "IBM Plex Sans", sans-serif;
  color: #121619;
  width:  100%;
  height: 100vh;
  background: white;
  position: fixed;
}
