.form_request{
    width: 40%;
    border: 4px solid #dde1e6;
    background: #f2f4f8;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 100px;
}

.form_request p {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}
.helptext {
    color: #878d96;
    font-size: 12px;
}
p > label, p > input, p > select {
    margin-right: 15px;
}

.request_bottom{
    margin: 10px;
    width: 250px;
    height: 40px;
    background: #d0e2ff;
    border-radius: 20px 0px 20px;
    border: 0px transparent;
}
/* shadows */
.request_bottom:hover{
    background: #82cfff;
}
.errorlist{
    color: red;
    font-size: 15px;
    font-style: oblique;
}

@media screen and (max-width: 1500px) and (min-width: 700px){
    .form_request{
        width: 90%;
    }
    .form_request p {
        font-size: 15px;
        text-align: left;
    }
    .helptext{
        font-size: 10px;
    }
}

@media screen and (max-width: 700px){
    .form_request{
        width: 95%;
        padding: 0px 10px;
    }
    .form_request p{
        font-size: 12px;
        text-align: left;
    }
    .helptext{
        font-size: 10px;
    }
}

@media screen and (max-width: 500px){
    .helptext{
        display: none;
    }
}
