.form_request{
    width: 50%;
    border: 4px solid #a2a9b0;
    background: #dde1e6;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 100px;
    opacity: 0.5;
}

.form_request p {
    margin-top: 10px;
}

.request_bottom{
    margin: 10px;
    width: 250px;
    height: 40px;
    color: White ;
    background: #1192e8;
    border-radius: 20px 0px 20px;
    border: 0px transparent;
}
/* shadows */
.form_request:hover{
    opacity: 1;
}
.request_bottom:hover{
    
    color: white;
    background: #00539a;
}
.errorlist{
    color: red;
    font-size: 15px;
    font-style: oblique;
}
