/* .form-login{
    background: blue;
    width: 30%;
    margin:auto;
}
.img-fluid{
    width: 230px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
} */

#auth-container{
    background: #f4f4f4 ;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-bottom: 10px solid black;
    box-shadow: 2px 0px 40px 2px rgb(0, 0, 0, 0.5);
}
/* start css codes */
.form-login{
    width: 100%;
    margin: 20px auto;
    font-size: 16px;
}
.table-login{
    width: 100%;
    margin-bottom: 20px;
}
.table-login{
    width: 80%;
    margin: auto;

}
.table-login label{
    font-size: 20px;
}
#id_username {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #33ceff;
    background: #f4f4f4;
    transition-duration: 0.2s;
    font-size: 15px;
}

#id_password{
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #33ceff;
    background: #f4f4f4;
    transition-duration: 0.2s;
    font-size: 15px;
}
#id_username:focus{
    padding: 5px 20px;
    border-bottom: 4px solid black;
}
#id_password:focus{
    padding: 5px 20px;
    border-bottom: 4px solid black;
}

.btn-login{
    width: 70%;
    height: 40px;
    margin-left: 70px;
    margin-top: 10px;
    background: #f4f4f4;
    border: 2px solid  #33ceff;
    font-size: 25px;
    transition-duration: 0.4s;
}
.btn-login:hover{
    background-color: #33ceff;
    color:white;
}
.img-login{
    margin-left: 150px;
}


@media screen and (max-width: 1200px){
    #auth-container{
        width: 50%;
    }
    .img-login{
        margin-left: 90px;
    }

}

 @media screen and (max-width: 800px){
     #auth-container{
         width: 60%;
     }
     .btn-login{
         width: 50%;
         margin-left: 50px;
     }

     .img-login{
         margin-left: 70px;
     }
 }
