{% extends 'base.html' %}

{% load static %}
{% load types %}

{% block styles %}
  {% if is_legacy %}
    <link rel="stylesheet" href="{% static 'css/legacy/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/legacy/pts/main.css' %}">
  {% else %}
    <link rel="stylesheet" href="{% static 'css/modern/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/modern/pts/main.css' %}">
  {% endif %}
{% endblock styles %}

{% block title %}
  PTS | {% block subtitle %}{% endblock subtitle %}
{% endblock title %}

{% block navbar %}
  {% to_list 'pts:request' 'pts:open' 'pts:transit' 'pts:pending' 'pts:return' 'pts:close' 'pts:history' as urls %}
  {% to_list 'Request' 'Open' 'Transit' 'Pending' 'Return' 'Close' 'History' as names %}

  {% include 'utils/basic/navbar.html' with urls=urls names=names %}

  {% get_setting "PTS_DASHBOARD_URL" as dashboard_url %}
  {% if user.is_staff and dashboard_url and not is_legacy %}
    {% include 'utils/basic/navbar_link.html' with url_name='pts:dashboard' link_name='Dashboard' %}
  {% endif %}

{% endblock navbar %}
