{% extends 'pts/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/tables/table_open.css' %}">
{% endblock styles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}">
  <script type="text/javascript" charset="utf8" src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>

  <script>
    $(document).ready( function () {
      $('.table_default').DataTable({
        paging: false,
        info: false,
        dom: 'Bfrtip',
        buttons: [
          'csv', 'print'
        ]
      });
    });
  </script>
{% endblock head %}

{% block content %}
{% endblock content %}
