{% extends 'header.html' %}

{% block navbar %}
  {% url 'pts:request' as url %}
  <li {% if url == request.path %} class="navbar__list--active" {% endif %} >
    <a href="{{ url }}">Request</a>
  </li>

  {% url 'pts:open' as url %}
  <li {% if url == request.path %} class="navbar__list--active" {% endif %} >
    <a href="{{ url }}">Open</a>
  </li>

  {% url 'pts:transit' as url %}
  <li {% if url == request.path %} class="navbar__list--active" {% endif %} >
    <a href="{{ url }}">Transit</a>
  </li>

  {% url 'pts:pending' as url %}
  <li {% if url == request.path %} class="navbar__list--active" {% endif %} >
    <a href="{{ url }}">Pending</a>
  </li>

  {% url 'pts:return' as url %}
  <li {% if url == request.path %} class="navbar__list--active" {% endif %} >
    <a href="{{ url }}">Return</a>
  </li>

  {% url 'pts:close' as url %}
  <li {% if url == request.path %} class="navbar__list--active" {% endif %} >
    <a href="{{ url }}">Close</a>
  </li>

  {% url 'pts:history' as url %}
  <li {% if url == request.path %} class="navbar__list--active" {% endif %} >
    <a href="{{ url }}">History</a>
  </li>
{% endblock navbar %}
