{% extends 'base.html' %}

{% load static %}
{% load legacy %}
{% load types %}

{% block styles %}
  {% if request.META.HTTP_USER_AGENT|is_legacy %}

  {% else %}
  <link rel="stylesheet" href="{% static 'css/modern/forms.css' %}">
  <link rel="stylesheet" href="{% static 'css/modern/pts/main.css' %}">
  {% endif %}
{% endblock styles %}

{% block title %}
  PTS | {% block subtitle %}{% endblock subtitle %}
{% endblock title %}

{% block navbar %}
  {% to_list 'pts:request' 'pts:open' 'pts:transit' 'pts:pending' 'pts:return' 'pts:close' 'pts:history' as urls %}
  {% to_list 'Request' 'Open' 'Transit' 'Pending' 'Return' 'Close' 'History' as names %}

  {% include 'utils/basic/navbar_base.html' with urls=urls names=names %}
{% endblock navbar %}
