{% extends 'pts/base_table.html' %}

{% load measures %}
{% load types %}

{% block subtitle %} Close {% endblock subtitle %}

{% block over_table %}
  {% include 'utils/forms/form_filter.html' with filter=filter %}
{% endblock over_table %}

{% block table_title %} CLOSE {% endblock table_title %}

{% block columns %}
  {% to_list "ID" "Status" "Date" "Shift" "Location" "Part" "Serial" "Description" "NCM Tag" "System" "Testcell" "User" as column_names %}
  {% include 'utils/tables/column_names.html' with column_names=column_names %}
  {% block extra_columns %} {% endblock extra_columns %}
{% endblock columns %}

{% block table_body %}
  {% for request in object_list %}
    <tr class="table__row table__row--padding {% cycle 'table__row--odd' 'table__row--pair' %}">
      <td> {{ request.pk }} </td>
      <td>
        <div
          {% if request.request_status.name == "CANCEL" %}
            class="table__status table--alert3"
          {% elif request.request_status.name == "CLOSE BAD" %}
            class="table__status table--alert2"
          {% elif request.request_status.name == "CLOSE GOOD" %}
            class="table__status table--alert"
          {% endif %}
        >
          {{ request.request_status }}
        </div>
      </td>
      <td> {{ request.modified }} </td>
      <td> {{ request.modified | get_shift }}</td>
      <td> {{ request.request_group.request_group_workspace }}</td>
      <td> {{ request.part_number }} </td>
      <td> {{ request.serial_number | default_if_none:"" }} </td>
      <td> {{ request.request_group.part_description }} </td>
      <td> {{ request.ncm_tag | default_if_none:"" }}</td>
      <td> {{ request.request_group.system_number }} </td>
      <td> {{ request.request_group.system_cell }} </td>
      <td> {{ request.get_first_request.user }} </td>
    </tr>
  {% endfor %}
{% endblock table_body %}

{% block button %} {% endblock button %}
