{% extends 'pts/base.html' %}
{% load humanize %}
{% load tz %}
{% load shift %}
{% load static %}

{% block subtitle %} Close {% endblock subtitle %}

{% block container %}
<link rel="stylesheet" href="{% static 'css/tables/table_open.css' %}">
<div class="table_overflow">
  <table class="table_default">
    <caption>Solicitudes cerradas</caption>
    <thead>
      <tr class="tr_open_thead">
        <th> Folio </th>
        <th> Status </th>
        <th> Tiempo </th>
        <th> Turno </th>
        <th> Parte </th>
        <th> Serial </th>
        <th> Descripcion </th>
        <th> NCM Tag </th>
        <th> Sistema </th>
        <th> Celda </th>
        <th> Usuario </th>
        {% block extra_columns %}{% endblock extra_columns %}
      </tr>
    </thead>
    <tbody class="tr_open_body">
    {% for request in page_obj %}
      <tr>
        <td> {{ request.pk }} </td>
        <td> {{ request.request_status }} </td>
        <td> {{ request.modified | timesince }} </td>
        <td> {{ data.modified | localtime | get_shift }}</td>
        <td> {{ request.part_number }} </td>
        <td> {{ request.serial_number }} </td>
        <td> {{ request.request_group.part_description }} </td>
        <td> {{ request.ncm_tag }}</td>
        <td> {{ request.request_group.system_number }} </td>
        <td> {{ request.request_group.system_cell }} </td>
        <td> {{ request.user }} </td>
        {% block extra_rows %}{% endblock extra_rows %}
      </tr>
    {% empty %}
    {% endfor %}
    </tbody>
  </table>
</div>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock container %}
