{% extends 'pts/base_table.html' %}

{% load measures %}
{% load types %}

{% block subtitle %} History {% endblock subtitle %}

{% block table_title %} HISTORY {% endblock table_title %}

{% block columns %}
  {% to_list "ID" "Status" "Date" "Shift" "Location" "Part" "Serial" "Description" "NCM Tag" "System" "Testcell" "User" as column_names %}
  {% include 'utils/tables/column_names.html' with column_names=column_names %}
  {% block extra_columns %} {% endblock extra_columns %}
{% endblock columns %}

{% block table_body %}
  {% for request in object_list %}
    <tr class="table__row {% cycle 'table__row--odd' 'table__row--pair' %}">
      <td> {{ request.request.pk }} </td>
      <td> {{ request.request_status }} </td>
      <td> {{ request.created }} </td>
      <td> {{ request.created | get_shift }}</td>
      <td> {{ request.request.request_group.request_group_workspace }}</td>
      <td> {{ request.part_number }} </td>
      <td> {{ request.serial_number | default_if_none:"" }} </td>
      <td> {{ request.request.request_group.part_description }} </td>

      <td>
        {% if request.request_status.name == "CLOSE BAD" %}
          {{ request.request.ncm_tag }}
        {% endif %}
      </td>

      <td> {{ request.request.request_group.system_number }} </td>
      <td> {{ request.request.request_group.system_cell }} </td>
      <td> {{ request.user }} </td>
    </tr>
  {% endfor %}
{% endblock table_body %}

{% block button %} {% endblock button %}

{% block pagination %}
  {% include 'utils/basic/pagination.html' with page_obj=page_obj %}
{% endblock pagination %}
