{% load static %}

<div class="navbarmain-margin">

  <div id="navbarSupportedContent">
    <ul class="nav-list-center">
      <li class="nav-item active">
        <a class="nav-item-link" href="{% url 'home' %}">System Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="{% url 'pts:request' %}">Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="{% url 'pts:open' %}">Open</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="{% url 'pts:transit' %}">Transit</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="{% url 'pts:pending' %}">Pending</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="{% url 'pts:return' %}">Return</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="{% url 'pts:close' %}">Close</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="{% url 'pts:history' %}">History</a>
      </li>
    </ul>
  </div>
</div>
