{% extends 'pts/base.html' %}
{% load humanize %}

{% block subtitle %} Request List {% endblock subtitle %}

{% block container %}
  <form method="post">
    {% csrf_token %}
    {{ form.management_form }}
    <table>
      <thead>
        <tr>
          <th> Folio </th>
          <th> Status </th>
          <th> Hora </th>
          <th> Parte </th>
          <th> Descripcion </th>
          <th> Loaner </th>
          <th> Sistema </th>
          <th> Celda </th>
          <th> Usuario </th>
          <th> Serial </th>
          <th> Status </th>
          <th> Comentario </th>
        </tr>
      </thead>
      <tbody>
      {% for data, form in rows %}
        {{ form.id }}
        {{ form.errors }}
        <tr>
          <td> {{ data.pk }} </td>
          <td> {{ data.request_status }} </td>
          <td> {{ data.created | timesince }} </td>
          <td> {{ data.part_number }} </td>
          <td> {{ data.request_group.part_description }} </td>
          <td> {{ data.request_group.is_loaner }} </td>
          <td> {{ data.request_group.system_number }} </td>
          <td> {{ data.request_group.system_cell }} </td>
          <td> {{ data.user }} </td>
          <td> {{ form.part_id }} </td>
          <td> {{ form.request_status }} </td>
          <td> {{ form.comment }} </td>
        </tr>
      {% empty %}
      {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Guardar">
  </form>
{% endblock container %}
