{% extends 'pts/open.html' %}
{% load static %}
{% load types %}

{% block extra_columns %}
  <th> Comment </th>
  <th> Update Part {% include "utils/forms/field_help.html" with field=form.0.part_id %}</th>
  <th> Cancel </th>
{% endblock extra_columns %}

{% block extra_rows %}
  <td> {{ data.comment | default_if_none:"" }} </td>
  {% include "utils/tables/input.html" with field=f.part_id %}
  <td>
    {% if request.user == data.get_first_request.user %}
      <a href="{% url 'pts:cancel' data.pk %}">
        {% if is_legacy %}
          <img src="{% static 'images/icons/png/delete--alt--black.png' %}" alt="Delete">
        {% else %}
          <img src="{% static 'images/icons/png/delete--alt.png' %}" alt="Delete">
        {% endif %}
      </a>
    {% endif %}
  </td>
{% endblock extra_rows %}
