{% extends 'pts/pending.html' %}
{% load static %}

{% block extra_columns %}
  <th> Return Part </th>
  <th> NCM Tag </th>
  <th> No NCM Tag </th>
{% endblock extra_columns %}

{% block extra_rows %}
  {% include "utils/tables/input.html" with field=f.part_id %}
  {% include "utils/tables/input.html" with field=f.ncm_tag %}
  {% include "utils/tables/input.html" with field=f.request_status %}
{% endblock extra_rows %}

{% block button %}
  <input class="button" type="button" value="  Save  " onclick="this.form.submit()"/>
{% endblock button %}
