{% extends 'pts/pending.html' %}
{% load static %}

{% block extra_columns %}
  <th> Regresar Parte </th>
  <th> NCM Tag </th>
  <th> No NCM Tag </th>
{% endblock extra_columns %}

{% block extra_rows %}
  <td>
    <div class="form__input {% if f.part_id.errors %} form--error {% endif %}">
      {{ f.part_id }}
      {% include "utils/forms/field_errors.html" with field=f.part_id %}
    </div>
  </td>

  <td>
    <div class="form__input {% if f.ncm_tag.errors %} form--error {% endif %}">
      {{ f.ncm_tag }}
      {% include "utils/forms/field_errors.html" with field=f.ncm_tag %}
    </div>
  </td>

  <td>
    <div class="form__input {% if f.request_status.errors %} form--error {% endif %}">
      {{ f.request_status }}
      {% include "utils/forms/field_errors.html" with field=f.request_status %}
    </div>
  </td>
{% endblock extra_rows %}

{% block button %}
  <button class="button" type="submit" value="Solicitar" onclick="this.form.submit()">
    Guardar <i class="fas fa-level-up-alt"></i>
  </button>
{% endblock button %}
