{% extends 'pts/base.html' %}
{% load humanize %}


{% block subtitle %}Recive{% endblock subtitle %}
{% block container %}
    <table>
      <thead>
        <tr>
          <th> Folio </th>
          <th> Update </th>
          <th> Status </th>
          <th> Hora </th>
          <th> Parte </th>
          <th> Descripcion </th>
          <th> Loaner </th>
          <th> Sistema </th>
          <th> Celda </th>
          <th> Usuario </th>
        </tr>
      </thead>
      <tbody>
      {% for request in object_list %}
        <tr>
          <td> {{ request.pk }} </td>
          <td> <a href="{{ request.get_absolute_url }}return">update</a> </td>
          <td> {{ request.request_status }} </td>
          <td> {{ request.modified | timesince }} </td>
          <td> {{ request.part_number }} </td>
          <td> {{ request.request_group.part_description }} </td>
          <td> {{ request.request_group.is_loaner }} </td>
          <td> {{ request.request_group.system_number }} </td>
          <td> {{ request.request_group.system_cell }} </td>
          <td> {{ request.user }} </td>
        </tr>
      {% empty %}
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
