{% extends 'pts/base.html' %}

{% block head %}
  <title>Request List</title>
{% endblock head %}

{% block container %}
  <table>
    <th>
      <tr> Folio </tr>
      <tr> Status </tr>
      <tr> Hora </tr>
      <tr> Parte </tr>
      <tr> Descripcion </tr>
      <tr> Estado </tr>
      <tr> Sistema </tr>
      <tr> Celda </tr>
      <tr> Bahia </tr>
      <tr> Usuario </tr>
      <tr> Comentario </tr>
      <tr> Serial </tr>
    </th>
  {% for request in object_list %}
      <tr>
        <td> {{ request.request.pk }} </td>
        <td> {{ request.request_track_status }} </td>
        <td> {{ request.created }} </td>
        <td> {{ request.serial_number }} </td>
        <td> {{ request.request.request_group.part_description }} </td>
        <td> {{ request.request.request_group.request_type }} </td>
        <td> {{ request.request.request_group.system_number }} </td>
        <td> {{ request.request.request_group.system_cell }} </td>
        <td> {{ request.request.request_group.request_bay }} </td>
        <td> {{ request.user }} </td>
        <td> {{ form_comment.as_p }} </td>
        <td> {{ form_part_id.as_p }} </td>
      </tr>
  {% empty %}
      <li> No request yet. </li>
  {% endfor %}
  </table>
{% endblock container %}