{% extends 'pts/return.html' %}

{% block extra_columns %}
  <th> Actualizar Serial </th>
  <th> Actualizar NCM Tag </th>
{% endblock extra_columns %}

{% block extra_rows %}
  <td> {{ form.part_id }} </td>

  {% if data.request_status.name == "BAD" %}
    <td> {{ form.ncm_tag }} </td>
  {% else %}
    <td> {{ form.ncm_tag.as_hidden }} </td>
  {% endif %}
  {{ form.request_status.as_hidden }}
{% endblock extra_rows %}

{% block submit %}
  <input type="button" value="Guardar" onclick="this.form.submit()"/>
{% endblock submit %}
