{% extends 'pts/return.html' %}

{% load static %}

{% block extra_columns %}
  <th> Update Serial </th>
  <th> Update NCM Tag </th>
  <th> Pending </th>
{% endblock extra_columns %}

{% block extra_rows %}
  {% include "utils/tables/input.html" with field=f.part_id %}

  {% if data.request_status.name == "BAD" %}
    {% include "utils/tables/input.html" with field=f.ncm_tag %}
  {% else %}
    <td> {{ f.ncm_tag.as_hidden }} </td>
  {% endif %}

  <td>
    <a href="{{ data.get_absolute_url }}return/pending/">
      {% if is_legacy %}
        <img src="{% static 'images/icons/png/delete--alt--black.png' %}" alt="Delete">
      {% else %}
        <img src="{% static 'images/icons/png/delete--alt.png' %}" alt="Delete">
      {% endif %}
    </a>
  </td>
{% endblock extra_rows %}
