{% extends 'pts/return.html' %}

{% block extra_columns %}
  <th> NCM Tag </th>
  <th> Recive Part </th>
{% endblock extra_columns %}

{% block extra_rows %}
  <td> {{ data.ncm_tag | default_if_none:"" }} </td>

  {% if data.request_status.name == "BAD" %}
    <td>
      <div class="form__input {{ f.part_id.errors|yesno:'form--error,' }}">
        {{ f.part_id }}
        {% include "utils/forms/field_errors.html" with field=f.part_id %}
      </div>
    </td>
  {% else %}
    <td></td>
  {% endif %}

  {{ f.request_status.as_hidden }}
  {{ f.ncm_tag.as_hidden }}
{% endblock extra_rows %}
