{% extends 'pts/transit.html' %}

{% load static %}

{% block extra_columns %}
  <th> User </th>
  <th> Update Parte </th>
  <th> Open </th>
{% endblock extra_columns %}

{% block extra_rows %}
  <td> {{ data.user }} </td>
  {% include "utils/tables/input.html" with field=f.part_id %}

  <td>
    <a href="{{ data.get_absolute_url }}return/open/">
      {% if is_legacy %}
        <img src="{% static 'images/icons/png/delete--alt--black.png' %}" alt="Delete">
      {% else %}
        <img src="{% static 'images/icons/png/delete--alt.png' %}" alt="Delete">
      {% endif %}
    </a>
  </td>
{% endblock extra_rows %}
