html {
  font-family: 'IBM Plex Sans';
  font-size: 62.5%;
  font-weight: 500;
  color: var(--gray_20);
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.5);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--gray_80);
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navbar__logo {
  height: 70px;
}

.navbar__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  list-style: none;
}

.navbar__list a {
  display: inherit;
  margin: 5px;
  padding: 7px 10px;
  border-bottom: 3px solid var(--primary_50);
  outline: none;
  color: var(--gray_20);
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.navbar__list a:hover,
.navbar__list a:focus {
  border-radius: 5px;
  border-bottom: 3px solid var(--primary_60);
  background-color: var(--primary_60);
  transition: var(--transition_default);
}

.navbar__list--fullfill a {
  border-radius: 5px;
  border-bottom: 3px solid var(--primary_50);
  background-color: var(--primary_50);
}

.navbar__list--fullfill a:hover,
.navbar__list--fullfill a:focus {
  border-bottom: 3px solid var(--primary_60);
  background-color: var(--primary_60);
}


.body {
  min-height: calc(100vh - 123px);
  background: linear-gradient(black 0%, var(--gray_90) 30%, var(--gray_80) 60%, var(--gray_70) 100%);
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  bottom: 0;
  height: 50px;
  background-color: var(--gray_70);
}

.footer__text {
  font-size: var(--p_size);
  font-weight: 600;
  color: var(--gray_20);
}
