html {
  font-family: 'IBM Plex Sans';
  font-size: 62.5%;
  font-weight: 500;
  color: var(--gray_20);
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  background: var(--gray_100);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--gray_70);
}


.navbar {
  position: sticky;
  top: 0;
  display: flex;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 1000;
}

.navbar__logo {
  height: 70px;
}

.navbar__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  list-style: none;
}

.navbar__list a {
  display: inherit;
  margin: 5px;
  padding: 7px 10px;
  border-bottom: 3px solid var(--primary_50);
  outline: none;
  color: var(--gray_20);
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.navbar__list a:hover,
.navbar__list a:focus {
  border-radius: 5px;
  border-bottom: 3px solid var(--primary_60);
  background-color: var(--primary_60);
  transition: var(--transition_default);
}

.navbar__list--fullfill a {
  border-radius: 5px;
  border-bottom: 3px solid var(--primary_50);
  background-color: var(--primary_50);
}

.navbar__list--fullfill a:hover,
.navbar__list--fullfill a:focus {
  border-bottom: 3px solid var(--primary_60);
  background-color: var(--primary_60);
}

.navbar__list--active a {
  border-bottom: 3px solid var(--secondary_50);
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar__list--active a:hover,
.navbar__list--active a:focus {
  border-bottom: 3px solid var(--secondary_60);
  background-color: var(--secondary_60)
}


.body {
  min-height: calc(100vh - 123px);
  background: linear-gradient(black 0%, var(--gray_90) 30%, var(--gray_80) 60%, var(--gray_70) 100%);
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  bottom: 0;
  height: 50px;
  background-color: var(--gray_70);
}

.footer__text {
  font-size: var(--p_size);
  font-weight: 600;
  color: var(--gray_20);
}


.pagination {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  color: var(--gray_20);
  font-size: 1.2rem;
}

.pagination__wrapper {
  display: flex;
  grid-row: 1;
  justify-content: center;
  align-items: center;
}

.pagination__wrapper:last-child {
  grid-row: 2;
}

.pagination img {
  height: 30px;
}

.pagination__text {
  padding: 0 8px;
}

.pagination__page {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 3px;
  border-radius: 50%;
  line-height: 35px;
  background-color: var(--gray_80);
  color: var(--gray_20);
  text-align: center;
  text-decoration: none;
}

.pagination__page:hover,
.pagination__page:focus {
  outline: none;
  background-color: var(--gray_70);
  transition: var(--transition_default);
}

.pagination--current {
  background-color: transparent;
  border: 2px solid var(--gray_80);
}

.pagination--current:hover {
  background-color: transparent;
  border: 2px solid var(--gray_70);
}


.dashboard {
  width: 100%;
  height: calc(100vh - 126px);
  border: none;
}


.toast__wrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  padding-left: 25px;
  z-index: 1000;
  animation: hide 500ms ease-in 7s forwards;
}

@keyframes hide {
  to {
    opacity: 0;
    z-index: -1;
  }
}

.toast {
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--gray_20);
  color: var(--gray_80);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
  text-align: start;
}

.toast__message {
  padding: 0;
  color: var(--gray_80);
}

.toast--error {
  border-right: 5px solid var(--error_50);
  background: var(--error_20);
}

.toast--error i {
  color: var(--error_50);
}

.toast--warning {
  border-right: 5px solid var(--alert_30);
  background: #fdf6dd;
}

.toast--warning i {
  color: var(--alert_30);
}

.toast--success {
  border-right: 5px solid var(--ok_50);
  background: var(--ok_10);
}

.toast--success i {
  color: var(--ok_50);
}

.toast--info {
  border-right: 5px solid var(--primary_60);
  background: var(--primary_20);
}

.toast--info i {
  color: var(--primary_60);
}
