.table_default {
  width: 95%;
  min-width: 50%;
  margin: 0px auto;
  font-size: 13px;
  text-align: left;
  border-collapse: collapse;
  box-shadow: -5px 5px 5px 2px rgb(0, 0, 0, 0.4);
}

.table_default caption {
  font-size: 30px;
  margin: 10px 0px;
}

.tr_open_thead th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #fff;
  color: #21272a;
  font-weight: bold;
  border-top: 4px solid #044317;
  border-radius: 1px solid #fff;
}

.tr_open_body td {
  padding: 8px;
  background: #edf5ff;
  border-bottom: 1px solid #fff;
  color: #21272a;
  border-top: 1px solid transparent;
}

/* overflow for the table */
.table_overflow {
  overflow-y: scroll;
  height: 50vh;
}

.form_transit input[type="button"] {
  width: 250px;
  height: 40px;
  background: #d0e2ff;
  font-size: 15px;
  margin: 10px 0px 10px 20px;
  border: 0px transparent;
  border-radius: 0px 20px 0px 20px;
}

.form_transit input[type="button"]:hover {
  background: #82cfff;
  color: #21272a;
}

/*
to test on table, we can put this into the table
      <tr>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
        <td> 123445</td>
  </tr>
*/

/* shadows */
.tr_open_body tr:hover td {
  background: #82cfff;
}

@media screen and (max-width: 700px) {}
