.table_default {
  width: 95%;
  min-width: 50%;
  margin: 0px auto;
  font-size: 13px;
  text-align: left;
  border-collapse: collapse;
  box-shadow: -5px 5px 5px 2px rgb(0, 0, 0, 0.4);
}

.table_default caption {
  font-size: 30px;
  margin: 10px 0px;
}

.tr_open_thead th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #fff;
  color: #21272a;
  font-weight: bold;
  border-top: 4px solid #044317;
  border-radius: 1px solid #fff;
}

.tr_open_body td {
  padding: 8px;
  background: #edf5ff;
  border-bottom: 1px solid #fff;
  color: #21272a;
  border-top: 1px solid transparent;
}

/* overflow for the table */
.table_overflow {
  overflow-y: scroll;
  height: 50vh;
}

.form_transit input[type="button"] {
  width: 250px;
  height: 40px;
  background: #d0e2ff;
  font-size: 15px;
  margin: 10px 0px 10px 20px;
  border: 0px transparent;
  border-radius: 0px 20px 0px 20px;
}

.form_transit input[type="button"]:hover {
  background: #82cfff;
  color: #21272a;
}

/* shadows */
.tr_open_body tr:hover td {
  background: #d0e2ff;
}

tr.alert td {
  background-color: #9ef0f0;
}

tr.alert:hover td {
  background-color: #3ddbd9;
}

tr.alert1 td {
  background-color: #a6c8ff;
}

tr.alert1:hover td {
  background-color: #78a9ff;
}

tr.alert2 td {
  background-color: #33b1ff;
}

tr.alert2:hover td {
  background-color: #0072c3;
  color: #e5f6ff;
}

tr.alert3 td {
  background-color: #a2191f;
  color: #f2f4f8;
}

tr.alert3:hover td {
  background-color: #da1e28;
  color: #e5f6ff;
}


@media screen and (max-width: 700px) {}
