.form_transit input[type="button"] {
  width: 250px;
  height: 40px;
  background: #d0e2ff;
  font-size: 15px;
  margin: 10px 0px 10px 20px;
  border: 0px transparent;
  border-radius: 0px 20px 0px 20px;
}

.form_transit input[type="button"]:hover {
  background: #82cfff;
  color: #21272a;
}

.table_default {
  width: 100%;
  font-size: 13px;
  text-align: center;
}

.table_default caption {
  font-size: 30px;
  margin: 10px 0px;
}

.tr_open_thead th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #343a3f;
  color: #f2f4f8;
  font-weight: bold;
}

.tr_open_body tr:nth-child(2n) td {
  padding: 8px;
  background: #f2f4f8;
  border-bottom: 1px solid #fff;
  color: #121619;
  border-top: 1px solid transparent;
}

.table_overflow {
  overflow-x: scroll;
}

.tr_open_body tr:hover td {
  background: #c1c7cd;
}

.table__status {
  padding: 5px;
  border-radius: 5px;
}

.alert {
  background-color: #0f62fe;
  color: #f2f4f8;
}

.tr_open_body tr:hover .alert {
  background-color: #115ae2;
}

.alert1 {
  background-color: #f1c21b;
}

.tr_open_body tr:hover .alert1 {
  background-color: #d3a400;
}

.alert2 {
  background-color: #ff832b;
}

.tr_open_body tr:hover .alert2 {
  background-color: #e07237;
}

.alert3 {
  background-color: #da1e28;
  color: #f2f4f8;
}

.tr_open_body tr:hover .alert3 {
  background-color: #a2191f;
  color: #e5f6ff;
}


@media screen and (max-width: 700px) {}
