{% extends 'pts/base.html' %}
{% load humanize %}

{% block subtitle %} Request List {% endblock subtitle %}

{% block container %}
  <form method="post">
    {% csrf_token %}
    {{ rows.1.management_form }}
    <table>
      <thead>
        <tr>
          <th> Folio </tr>
          <th> Status </tr>
          <th> Hora </tr>
          <th> Parte </tr>
          <th> Descripcion </tr>
          <th> Loaner </tr>
          <th> Sistema </tr>
          <th> Celda </tr>
          <th> Usuario </tr>
          <th> Serial </tr>
          <th> Comentario </tr>
        </tr>
      </thead>
      <tbody>
      {% for row in rows %}
        <tr>
          <td> {{ row.0.pk }} </td>
          <td> {{ row.1.form.status }} </td>
          <td> {{ row.0.created | timesince }} </td>
          <td> {{ row.0.part_number }} </td>
          <td> {{ row.0.request_group.part_description }} </td>
          <td> {{ row.0.request_group.is_loaner }} </td>
          <td> {{ row.0.request_group.system_number }} </td>
          <td> {{ row.0.request_group.system_cell }} </td>
          <td> {{ row.0.user }} </td>
          <td> {{ row.1.part_id }}</td>
          <td> {{ row.1.comment }}</td>
        </tr>
      {% empty %}
      {% endfor %}
      </tbody>
    </table>
    <input type="submit">
  </form>
{% endblock container %}
