{% load static %}
{% load types %}

{% if page_obj %}
  <div class="pagination">
    <div class="pagination__wrapper">
      {% if page_obj.has_previous %}
        <a class="pagination__page pagination--corner" href="?{% param_replace page=1 %}">
          1
        </a>
        <span class="pagination__text">
          . . .
        </span>
        <a class="pagination__page" href="?{% param_replace page=page_obj.previous_page_number %}">
          <i class="fas fa-chevron-left"></i>
        </a>
      {% endif %}

      <span class="pagination__page pagination--current">
        {{ page_obj.number }}
      </span>

      {% if page_obj.has_next %}
        <a class="pagination__page" href="?{% param_replace page=page_obj.next_page_number %}">
          <i class="fas fa-chevron-right"></i>
        </a>
        <span class="pagination__text">
          . . .
        </span>
        <a class="pagination__page pagination--corner" href="?{% param_replace page=page_obj.paginator.num_pages %}">
          {{ page_obj.paginator.num_pages }}
        </a>
      {% endif %}
    </div>

    <div class="pagination__wrapper">
      <span class="pagination__text">
        {{ page_obj.start_index }} - {{ page_obj.end_index }} [ {{ page_obj.paginator.count }} ]
      </span>

      <form class="form form--filter"  method="GET">
        <div class="form__input
          {{ field.field.required|yesno:'form--required,form--non-required' }}
          {% if field.errors %}
            form--error
          {% endif %}
        "
        >
          {{ pagination.value }}
          {{ pagination_form.pagination }}
        </div>
      </form>
    </div>
  </div>
{% endif %}
