/* .content {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: cyan;
} */


/* .card-user {
  box-sizing: border-box;
  position: relative;
  height: 50vh;
  width: 50vw;
  max-height: 700px;
  max-width: 500px;
}

.card-user img {
  position: absolute;

} */
