{% load static %}
{% load legacy %}
{% load types %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Alan Vazquez" />
    <meta
      name="description"
      content="WEBs projects for Power IBM System Test"
    />

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />

    {% if request.META.HTTP_USER_AGENT|is_legacy %}
      {% define True as is_legacy %}
      <link rel="stylesheet" href="{% static 'css/legacy/main.css' %}">
    {% else %}
      {% define False as is_legacy %}
      <link rel="stylesheet" href="{% static 'fonts/ibm_plex_sans/fonts.css' %}">
      <link rel="stylesheet" href="{% static 'fonts/fontawesome/fonts.css' %}">
      <link rel="stylesheet" href="{% static 'css/variables.css' %}">
      <link rel="stylesheet" href="{% static 'css/modern/main.css' %}">
    {% endif %}

    <script src="{% static 'js/project.js' %}"></script>

    {% block styles %}{% endblock styles %}
    {% block scripts %}{% endblock scripts %}

    <title>{% block title %}Systemtest{% endblock title %}</title>

    {% block head %} {% endblock head %}
  </head>

  <body>
    {% block navbar %} {% endblock navbar %}

    {% if messages %}
      <div class="toast__wrapper">
        {% for message in messages %}
          <div class="toast {% if message.tags %} toast--{{ message.tags }} {% endif %}">
            <p class="toast__message">
              <i class="fas fa-exclamation-circle"></i> {{ message }}
            </p>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="body">
      {% block body %}{% endblock body %}
    </div>

    {% include 'footer.html' %}
  </body>
</html>
