{% load static %}
{% load legacy %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Alan Vazquez" />
    <meta
      name="description"
      content="WEBs projects for Power IBM System Test"
    />

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'fonts/ibm_plex_sans/fonts.css' %}">

    {% if request.META.HTTP_USER_AGENT|is_legacy %}
      <link rel="stylesheet" href="{% static 'css/legacy/main.css' %}">
    {% else %}
      <link rel="stylesheet" href="{% static 'fonts/fontawesome/fonts.css' %}">
      <link rel="stylesheet" href="{% static 'css/variables.css' %}">
      <link rel="stylesheet" href="{% static 'css/modern/main.css' %}">
    {% endif %}

    <script src="{% static 'js/project.js' %}"></script>

    {% block styles %}{% endblock styles %}
    {% block scripts %}{% endblock scripts %}

    <title>{% block title %}Systemtest{% endblock title %}</title>

    {% block head %} {% endblock head %}
  </head>

  <body>
    {% block navbar %} {% endblock navbar %}

    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <div class="body">
      {% block body %}{% endblock body %}
    </div>

    {% include 'footer.html' %}
  </body>
</html>
