{% load static %}

<header class="navbar">
  <div class="navbar-left">
    <a href="{% url 'home' %}">
      <img
      class="navbar__logo"
      src="{% static 'images/logos/rebus_h_white.png' %}"
      alt="Logo power"
      />
    </a>
  </div>

  <ul class="navbar__list navbar--center">
    {% block navbar %} {% endblock navbar %}
  </ul>

  <ul class="navbar__list navbar--rigth">
    {% if user.is_authenticated  %}

      {% url 'users:update' as url %}
      <li {% if url == request.path %} class="navbar__list--active" {% endif %} >
        <a href="{{ url }}">
          {{ user.username }} <i class="fas fa-user"></i>
        </a>
      </li>

      {% if user.is_staff %}
        {% url 'users:signup' as url %}
        <li {% if url == request.path %} class="navbar__list--active" {% endif %}>
          <a href="{{ url }}">
            Signup <i class="fas fa-user-plus"></i>
          </a>
        </li>
      {% endif %}

      {% if user.is_superuser %}
        {% url 'admin:index' as url %}
        <li {% if url == request.path %} class="navbar__list--active" {% endif %}>
          <a href="{{ url }}">
            Admin Site <i class="fas fa-user-cog"></i>
          </a>
        </li>
      {% endif %}

      {% url 'users:logout' as url %}
      <li class="navbar__list--fullfill {% if url == request.path %} navbar__list--active {% endif %}">
        <a href="{{ url }}">
          Logout  <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>

    {% else %}
      {% url 'users:login' as url %}
      <li class="navbar__list--fullfill {% if url == request.path %} navbar__list--active {% endif %}">
        <a href="{{ url }}">
          Login <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</header>
