{% load static %}

<header class="navbar">
  <img
    src="{% static 'images/power-systems-w.png' %}"
    alt="Logo power"
    class="navbar__logo"/>

  <ul class="navbar-list">
    <li class="navbar-list__item">
      <a href="{% url 'pts:index' %}">PTS</a>
    </li>
    {% if user.is_authenticated  %}
      <li class="navbar-list__item">
        <a href="{% url 'users:update' %}">{{ user.username }}</a>
      </li>
      <li class="navbar-list__item">
        <a href="{% url 'users:logout' %}">Cerrar Sesion</a>
      </li>
    {% else %}
      <li class="navbar-list__item">
        <a href="{% url 'users:login' %}">Iniciar Sesion</a>
      </li>
    {% endif %}
  </ul>
</header>
