{% load static %}

<header class="navbar">
  <div class="navbar-left">
    <img
      class="navbar__logo"
      src="{% static 'images/logos/rebus-dark.svg' %}"
      alt="Logo power"
    />
  </div>

  <ul class="navbar__list navbar--center">
      {% include 'pts/navbar.html' %}
  </ul>

  <ul class="navbar__list navbar--rigth">
    {% if user.is_authenticated  %}
      <li>
        <a href="{% url 'users:update' %}">{{ user.username }}</a>
      </li>

      {% if user.is_staff %}
        <li>
          <a href="{% url 'users:signup' %}" class="nav-item-link">
            Crear Usuario
          </a>
        </li>
      {% endif %}

      <li class="navbar__list--fullfill">
        <a href="{% url 'users:logout' %}" class="nav-item-link">
          Cerrar Sesion
        </a>
      </li>

    {% else %}
      <li class="navbar__list--fullfill">
        <a href="{% url 'users:login' %}">Iniciar Sesion</a>
      </li>
    {% endif %}
  </ul>
</header>
