{% extends 'quality/base.html' %}

{% load static %}
{% load tz %}

{% block scripts %}
  {% include 'utils/tables/datatables.html' %}
{% endblock scripts %}

{% block body %}
  <form method="POST" class="form">
    {% csrf_token %}
    {{ form.management_form }}
    {% include 'utils/forms/formset_errors.html' with formset=form %}

    <div class="table__wrapper">
      <table class="table">
        <caption class="table__title"> {% block table_title %}{% endblock table_title %} </caption>

        <thead class="table__header">
          <tr>
            {% block columns %} {% endblock columns %}
          </tr>
        </thead>

        <tbody class="table__body">
            {% block table_body %}
              {% for data, f in rows %}
                <tr class="table__row">
                  {{ f.workunit }}
                  {% block rows %} {% endblock rows %}
                </tr>
              {% endfor %}
            {% endblock table_body %}
        </tbody>

      </table>
    </div>

    {% block button %}
      <button class="button" type="submit" value="Save" onclick="this.form.submit()">
        Save <i class="fas fa-level-up-alt"></i>
      </button>
    {% endblock button %}

  </form>
  {% block pagination %} {% endblock pagination %}
{% endblock body %}
