{% extends 'people/requirements.html' %}

{% load static %}

{% block extra_columns %}
  <th> Cancel </th>
{% endblock extra_columns %}

{% block extra_rows %}
  <td>
    <div
      {% if data.status.name == "APPROVED" %}
        class="table__status table--pass"
      {% elif data.status.name == "REJECTED" %}
        class="table__status table--alert3"
      {% elif data.status.name == "PENDING" or data.comment %}
        class="table__status table--alert"
      {% endif %}
    >
      {{ data.status }}
    </div>
  </td>

  <td> {{ data.comment | default_if_none:"" }} </td>

  <td>
    {% if request.user == data.by_user %}
      <a href="{% url 'people:cancel' data.pk %}">
        <img src="{% static 'images/icons/png/delete--alt.png' %}" alt="Delete">
      </a>
    {% endif %}
  </td>
{% endblock extra_rows %}
